<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>

    <form id="profile-form">
        <img src="../assets/common/img/avatar-default.png" alt="imagem de perfil padrão">
        <input type="file" name="photo" id="photo">
        <input type="text" name="name" id="name">
        <input type="text" name="email" id="email">
        <button type="submit">Salvar</button>
    </form>

    <div id="toast">

    </div>
    
    <script src="../assets/app/"></script>
</body>
</html>