h1, h2, h3 {
    color: var(--cor-escuro);
}

h1 {
    font-size: clamp(1.5rem, 2.03vw + 0.74rem, 2rem);
    font-weight: 700;
    letter-spacing: 2px;
}

h2 {
    font-size: clamp(1.5rem, 2.03vw + 0.74rem, 2.5rem);
    font-weight: 600;
    letter-spacing: 1px;
}

p {
    color: var(--cinza-texto);
    font-size: 1.2rem;
    line-height: 1.6;
}